<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Pessoas</span></h1>
      </div>
       <section class="form-new">
    <%= link_to 'Nova Pessoa', new_person_path, class:"btn btn-lg btn-primary btn-block" %>
  </section>

    <div class="row placeholders">
    <% @people.each do |person| %>
     <div class="col-xs-6 col-sm-3 placeholder">
           
              <h4><%= person.nome %></h4>
              <label>Tel:</label>
                  <span class="text-muted"><%= person.telefone %></span><br>
              <label>Nascimento:</label>
                  <span class="text-muted"><%= person.dataNascimento %></span><br>
              <label>Usuário:</label>
                  <span class="text-muted"><%= person.user.email %></span>
              
               <%= link_to 'Detalhes', person, class:"btn  btn-success" %>
               <%= link_to 'Edit', edit_person_path(person), class:"btn  btn-primary" %>
               <%= link_to 'Excluir', person,class:"btn  btn-danger", method: :delete, data: { confirm: 'Confirma exclusão?' } %>
            </div>
        <% end %>
    </div>

  </div>
</div>
     

