<div class="jumbotron">
 <div class="container">
   <% if flash[:notice] %>
     <div class="alert alert-info">
       <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
       <%= notice %>
     </div>
   <% end %>
	 <div class="alert alert-info" style="margin-top:10px; text-align: center;">
       		<h1><span>Novo Cadastro</span></h1>
      </div>

		<%= render 'form', person: @person %>
		<section class="form-new">
		<%= link_to 'Voltar', people_path, class:"btn btn-lg btn-danger btn-block" %>
		</section>
	</div>
</div>

