<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Detalhes do cadastro de <%= @person.nome %></span></h1>
      </div><br>
       <section> 
			<p>
			  <strong>Nome:</strong>
			  <%= @person.nome %>
			</p>

			<p>
			  <strong>Telefone:</strong>
			  <%= @person.telefone %>
			</p>

			<p>
			  <strong>Datanascimento:</strong>
			  <%= @person.dataNascimento %>
			</p>

			<p>
			  <strong>User:</strong>
			  <%= @person.user.email %>
			</p>
		<section class=" text-center">
			<%= link_to 'Editar', edit_person_path(@person), class:"btn  btn-primary" %>
			<%= link_to 'Voltar', people_path, class:"btn  btn-danger" %>
		</section>

	  </section>
	</div>
</div>

