<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Esportes</span></h1>
      </div>
       <section class="form-new">
    <%= link_to 'Novo Esporte', new_sport_path, class:"btn btn-lg btn-primary btn-block" %>
  </section>

    <div class="row placeholders">
        <% @sports.each do |sport| %>
        
           <div class="col-xs-6 col-sm-3 placeholder">
            <img class="rounded-circle" src="<%= image_url sport.foto.url(:large) %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><%= sport.nome %></h4>
              <span class="text-muted"><%= sport.descricao %></span><br>
              
               <%= link_to 'Detalhes', sport, class:"btn  btn-success" %>
               <%= link_to 'Edit', edit_sport_path(sport), class:"btn  btn-primary" %>
               <%= link_to 'Excluir', sport,class:"btn  btn-danger", method: :delete, data: { confirm: 'Confirma exclusão?' } %>
            </div>
        <% end %>
    </div>

  </div>
</div>
