<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Esporte <%= @sport.nome %></span></h1>
      </div>
      <section class="text-center">
      <img src="<%= image_url @sport.foto.url(:large) %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      </section><br>
      <section> 
        <p>
		  <strong>Nome:</strong>
		  <%= @sport.nome %>
		</p>

		<p>
		  <strong>Descricao:</strong>
		  <%= @sport.descricao %>
		</p>

		<p>
		  <strong>Regra:</strong>
		  <%= @sport.regra %>
		</p>

		<section class=" text-center">
			<%= link_to 'Editar', edit_sport_path(@sport), class:"btn  btn-primary" %>
			<%= link_to 'Voltar', sports_path, class:"btn  btn-danger" %>
		</section>
  <!--  <%= image_tag @sport.foto.url(:large) %>
		<%= image_tag @sport.foto.url(:medium) %>
		<%= image_tag @sport.foto.url(:thumb) %> -->

	  </section>
	</div>
</div>