 <div class="form-new">
  <%= form_with(model: group, local: true) do |form| %>
    <% if group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :group_nome , class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, id: :group_descricao, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label "Atividade Esportiva" %>
      <%= form.select :sport_id, options_from_collection_for_select(@esportes, "id", "nome"), class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="group_fundador_id">Fundador</label>
      <p><%= @group.fundador.nome %></p>
    </div>

    <div class="form-group">
      <%= form.label :estatuto %>
      <%= form.text_area :estatuto, id: :group_estatuto, class: "form-control" %>
    </div>
    <div style="visibility:hidden" class="form-group ">
      <%= form.label :fundador_id %>
      <%= form.text_field :fundador_id, id: :group_fundador_id , class: "form-control hiddden"%>
    </div>
    <div class="actions" >
      <%= form.submit "Salvar",  class:"btn btn-lg btn-primary btn-block" %>
    </div>

  <% end %>
</div>
