<div class="jumbotron">
 <div class="container">
	 <div class="alert alert-info" style="margin-top:10px; text-align: center;">
       		<h1><span>Editar Grupo</span></h1>
      </div>

		<%= render 'form', group: @group %>

		<section class="form-new">
		 <%= link_to 'Detalhes', @group, class:"btn btn-lg btn-success btn-block" %> 
		 <%= link_to 'Voltar', groups_path,  class:"btn btn-lg btn-danger btn-block" %>
		</section>
	</div>
</div>

