<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Grupos</span></h1>
      </div>
       <section class="form-new">
        <%= link_to 'Novo Grupo', new_group_path, class:"btn btn-lg btn-primary btn-block" %>
       </section>

    <div class="row placeholders">
    <% @groups.each do |group| %>
     
       <div class="col-xs-6 col-sm-3 placeholder">
            <img class="rounded-circle" src="<%= image_path("padrao2.png")%>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><%= group.nome %></h4>
             <label>Descrição:</label> 
                <span class="text-muted"><%= group.descricao %></span><br>
             <label>Esporte:</label>
              <span class="text-muted"><%= group.sport.nome %></span><br>
              
               <%= link_to 'Detalhes', group, class:"btn  btn-success" %>
               <%= link_to 'Edit', edit_group_path(group), class:"btn  btn-primary" %>
               <%= link_to 'Excluir', group,class:"btn  btn-danger", method: :delete, data: { confirm: 'Confirma exclusão?' } %>
            </div>
    <% end %>

    </div>

  </div>
</div>
