<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Grupo <%= @group.nome %></span></h1>
      </div>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#home" class="alert alert-info" data-toggle="tab">Dashboard</a>
          </li>
          <li role="presentation">
            <a href="#atletas" class="alert alert-danger" data-toggle="tab">Peladeiros</a>
          </li>
        <li role="presentation">
           <a href="#eventos" class="alert alert-success" data-toggle="tab" id="clickEvent">Eventos</a>
             <script type="application/javascript">
              $('#clickEvent').on('shown.bs.tab' , function () {
               $('#calendar').fullCalendar({
                header: {
                    center: 'month,agendaFourDay,agendaWeek' // buttons for switching between views
                },
                views: {
                    agendaFourDay: {
                        type: 'agenda',
                        duration: { days: 4 },
                        buttonText: '4 dias'
                    }
                },
                events: '/groups/<%= @group.id %>/events.json',
                timeFormat: 'HH(:mm)'
                }
            );
        });


      </script>
    </li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <p>
        <strong>Nome:</strong>
        <%= @group.nome %>
      </p>

      <p>
        <strong>Descricao:</strong>
        <%= @group.descricao %>
      </p>

      <p>
        <strong>Esporte:</strong>
        <%= @group.sport.nome %>
      </p>

      <p>
        <strong>Fundador:</strong>
        <%= @group.fundador.nome %>
      </p>

      <p>
        <strong>Estatuto:</strong>
        <%= @group.estatuto %>
      </p>
       <%= link_to 'Editar', edit_group_path(@group), class:"btn  btn-primary" %> 
      <%= link_to 'Voltar', groups_path, class:"btn  btn-danger" %>
    </div>
    <div id="atletas" class="tab-pane fade">
      <div class="row">
        <%= link_to "<span class='glyphicon glyphicon-plus' aria-hidden='true'>Peladeiro</span>".html_safe, new_group_athlete_path(@group), class:"btn btn-primary"  %>
      </div>
      <div class="row">
        <%= render @athletes %>
      </div>
    </div>
    <div id="eventos" class="tab-pane fade">
      <!-- Button trigger modal -->
      <div class="row">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus " aria-hidden="true">Eventos</span>
        </button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Descrição</th>
              <th>Data</th>
              <th>Local</th>
            </tr>
            </thead>
            <tbody id="eventsTR">
              <% @group.events.each do |event| %>
              <tr id="event_<%= event.id %>">
                <td><%= event.descricao %></td>
                <td><%= event.start_time %></td>
                <td><%= event.local %></td>
                <td><%= link_to 'Detalhes', group_event_path(@group,event), class:"btn  btn-success" %></td>
                <% if @group.fundador.user == (current_user) %>
                  <td><%= link_to 'Editar', edit_group_event_path(@group,event), class:"btn  btn-primary" %></td>
                  <td><%= link_to 'Excluir',[@group,event], class:"btn  btn-danger", method: :delete,
                                  data: { confirm: 'Confirma exclusão?' }, remote: true %></td>
                <% end %>
              </tr>

              <% end %>

            </tbody>
          </table>
        </div>
        <div class="col-md-6">

          <div id="calendar"></div>
        </div>

      </div>

    </div>

  </div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastro de Evento</h4>
      </div>
      <div class="modal-body">
        <%= form_with(model: [@group,@event], local: false) do |form| %>
          <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

              <ul>
                <% @event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label "Descrição" %>
            <%= form.text_field :descricao, class: "form-control" ,id: :event_descricao %>
          </div>

          <div class="col-sd-5">

            <%= form.label "Data/Hora Início" %>
            <div class='input-group date' id='datetimepicker1'>
              <%= form.text_field  :start_time, class: "form-control" ,id: :event_start_time %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>


          <div class="form-group">
            <%= form.label "Data/Hora Fim" %>
            <div class='input-group date' id='datetimepicker2'>
              <%= form.text_field  :end_time, class: "form-control" ,id: :event_end_time %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :local %>
            <%= form.text_field :local,class: "form-control", id: :event_local %>
          </div>

          <div class="hidden">
            <%= form.label :group_id %>
            <%= form.text_field :group_id, id: :event_group_id %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">
              <%= @event.id.nil? ? 'Cadastrar' : 'Editar' %>
            </button>
          </div>
      <% end %>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker(
                    {
                        stepping: 15,
                        sideBySide: true
                    }
                );
                $('#datetimepicker2').datetimepicker({
                    stepping: 15,
                    sideBySide: true,
                    useCurrent: false  //Important! See issue #1075
                });
                $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
      </div>
    </div>
  </div>
</div>