<div class="col-xs-6 col-sm-3 placeholder" id="athlete_<%= athlete.id %>">

  <h4><%= athlete.person.nome %></h4>
  <label>Score:</label>
  <span class="text-muted"><%= athlete.score %></span><br>
  <label>Status:</label>
  <span class="text-muted"><%= athlete.status %></span><br>

  <%= link_to 'Detalhes', [@group,athlete], class:"btn  btn-success" %>
  <%= link_to 'Edit', edit_group_athlete_path(@group,athlete), class:"btn  btn-primary" %>
  <%= link_to 'Excluir', [@group,athlete],class:"btn  btn-danger", method: :delete, data: { confirm: 'Confirma exclusão?' } %>
</div>