<div class="form-new">
<%= form_with(model: [@group,athlete], local: true) do |form| %>
  <% if athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
      <% athlete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score, id: :athlete_score,class:"form-control" %>
  </div>
    <% if @group.fundador.user == current_user %>
      <div class="field">
        <%= form.label :status %>
        <%= form.select(:status, Athlete.statuses.keys.map {|key| [key.humanize, key]},
                        id: :athlete_status,class:"form-control",
                        include_blank: true) %>
      </div>
    <%end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :athlete_person_id,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id, id: :athlete_group_id,class:"form-control" %>
  </div>

 <div class="actions">
   <br> <%= form.submit "Salvar", class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
</div>
