<div class="jumbotron">
 <div class="container">
   <% if flash[:notice] %>
     <div class="alert alert-info">
       <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
       <%= notice %>
     </div>
   <% end %>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Peladeiros - <%= @group.nome %></span></h1>
      </div>
       <section class="form-new">
    <%= link_to 'Novo Atleta', new_group_athlete_path(@group), class:"btn btn-lg btn-primary btn-block" %>
  </section>

    <div class="row placeholders">
    <% @athletes.each do |athlete| %>
    <div class="col-xs-6 col-sm-3 placeholder">
           
              <h4><%= athlete.person.nome %></h4>
              <label>Score:</label>
                  <span class="text-muted"><%= athlete.score %></span><br>
              <label>Status:</label>
                  <span class="text-muted"><%= athlete.status %></span><br>

               <%= link_to 'Detalhes', [@group,athlete], class:"btn  btn-success" %>
               <%= link_to 'Edit', edit_group_athlete_path(@group,athlete), class:"btn  btn-primary" %>
               <%= link_to 'Excluir', [@group,athlete],class:"btn  btn-danger", method: :delete, data: { confirm: 'Confirma exclusão?' } %>
            </div>
        <% end %>
    </div>

  </div>
</div>