<div class="jumbotron">
 <div class="container">
	 <div class="alert alert-info" style="margin-top:10px; text-align: center;">
       		<h1><span>Novo Cadastro</span></h1>
      </div>

			<%= render 'form', athlete: @athlete %>

			<section class="form-new">
		<%= link_to 'Voltar', [@group,@athlete], class:"btn btn-lg btn-danger btn-block" %>
		</section>
	</div>
</div>

