<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Detalhes do Atleta <%= @athlete.person.nome %></span></h1>
      </div><br>
       <section> 
			<p>
			  <strong>Score:</strong>
			  <%= @athlete.score %>
			</p>

			<p>
			  <strong>Status:</strong>
			  <%= @athlete.status %>
			</p>

			<p>
			  <strong>Person:</strong>
			  <%= @athlete.person %>
			</p>

			<p>
			  <strong>Group:</strong>
			  <%= @athlete.group %>
			</p>
		<section class=" text-center">
			<%= link_to 'Editar',edit_group_athlete_path(@group,@athlete), class:"btn  btn-primary" %>
			<%= link_to 'Voltar',@group, class:"btn  btn-danger" %>
		</section>

	  </section>
	</div>
</div>
