<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Peladeiro' ,root_path, :class => 'navbar-brand'%>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in?%>
        <li class="active">
          <a href="<%= groups_path %>">Meus Grupos<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="#eventos">Meus Eventos</a>
        </li>
        <%else%>
         <li class="active"><a href="#grupos">Grupos recentes <span class="sr-only">(current)</span></a></li>
        <li><a href="#eventos">Eventos</a></li>
        <% end %>
      </ul>

      <% if user_signed_in?%>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" autofocus="true" placeholder="Search" >
        </div>
        <button type="submit" class="btn btn-success">Buscar</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
       
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <button type="button" class="btn btn-info">
            Notificações <span class="badge badge-light">4</span>
         </button>
        </a>
        <ul class="dropdown-menu">
            <li>
              <div class="alert alert-warning fade in alert-dismissable" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>David Miller</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                Convite para participar de campionato
                <a href="#" class="alert-link">an example link</a>
              </div>
            </li>            
            <li>
              <div class="alert alert-info fade in alert-dismissable" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>David Miller</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                Convite para participar de campionato
                <a href="#" class="alert-link">an example link</a>
              </div>
            </li>
             <li>
              <div class="alert alert-success fade in alert-dismissable" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                 <strong>David Miller</strong>
                 <span class="small float-right text-muted">11:21 AM</span>
                Convite para participar de campionato
                <a href="#" class="alert-link">an example link</a>
              </div>
            </li>
            <li>
              <strong> <a href="#" class="alert-link">Vizualizar todas</a></strong>
            </li>
          </ul>
    </li>
       
        <li><a href="#">Peladas</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
          </ul>
        </li>
      </ul>
      <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login" , new_user_session_path %></li>
        <li><%= link_to "Cadastrar" , new_user_registration_path %></li>
      </ul>
      <%end%>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
