  <div class="jumbotron">
    <div class="container" id="grupos">
        <h1 align="center" class="alert alert-info">Meus Grupos</h1><br>

          <div class="row placeholders">
            <% grupos.each do |grupo| %>
              <div class="col-xs-6 col-sm-3 placeholder">
                <a href="#">
                   <img class="rounded-circle" src="<%= image_url grupo.sport.foto.url(:large) %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4><%= grupo.nome %></h4>
                  <span class="text-muted"><%= grupo.sport.nome %></span>
                </a>
              </div>
            <% end %>
          </div>

          <h2 align="center" class="alert alert-info">Ranking Atletas</h2><br>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
              </tbody>
            </table>
          </div>

      <div class="row" id="eventos">
        <h2 align="center" class="alert alert-info">Meus eventos</h2><br>
            <div class="col-xs-6 col-sm-3">
               <div class="card mb-4 box-shadow text-white bg-info">
                <div class="card-header">
                  <h3 class="my-0 font-weight-normal">Enterprise</h3>
                </div>
              <div class="card-body">
                 <h5 class="card-title">Info card title</h5>
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
              </div>
            </div>
          </div>
            <div class="col-xs-6 col-sm-3">
               <div class="card mb-4 box-shadow text-white bg-info">
                <div class="card-header">
                  <h3 class="my-0 font-weight-normal">Enterprise</h3>
                </div>
              <div class="card-body">
                 <h5 class="card-title">Info card title</h5>
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
              </div>
            </div>
            </div>
            <div class="col-xs-6 col-sm-3">
               <div class="card mb-4 box-shadow text-white bg-info">
                <div class="card-header">
                  <h3 class="my-0 font-weight-normal">Enterprise</h3>
                </div>
              <div class="card-body">
                 <h5 class="card-title">Info card title</h5>
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
              </div>
            </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="card mb-4 box-shadow text-white bg-info">
                <div class="card-header">
                  <h3 class="my-0 font-weight-normal">Enterprise</h3>
                </div>
              <div class="card-body">
                 <h5 class="card-title">Info card title</h5>
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
              </div>
            </div>
         </div>
      </div>
      <!-- cards -->
    </div>
  </div>