<div class="container" id="grupos">
    <h1 align="center" class="alert alert-info">Grupos recentes</h1><br>

    <div class="row placeholders">
      <% grupos.each do |grupo| %>
        <div class="col-xs-6 col-sm-3 placeholder">
          <a href="<%= home_path(grupo) %>">
              <img class="rounded-circle" src="<%= image_url grupo.sport.foto.url(:large) %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4><%= grupo.nome %></h4>
            <span class="text-muted"><%= grupo.sport.nome %></span>
          </a>
        </div>
      <% end %>
    </div>
</div>

<%# home_details_group_path %>
<%# group_path(grupo) %>