<main role="main">
  
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:errors] %>
    <div class="alert alert-warning fade in alert-dismissable">
      <%= flash[:errors] %>
    </div>
  <% end %>

  <% if user_signed_in?%>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <% grupos_recentes = @grupos_recentes %>
    <% grupos_my = @grupos_my %>
    <%= render partial: "home/dashboard", locals: { grupos: grupos_my } %>
    <%= render partial: "home/gruposRecentes", locals: { grupos: grupos_recentes } %>
    <%= render partial: "home/eventosDestaque"%>
  
  <!-- verifica se o usuário corrente é este gerente@peladeiro -->
  <% if current_user.email == "gerente@peladeiro"%>
  <%end%>
  <% else %>
    <%= render partial: "home/carousel" %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
     
      <!-- Chamada partial grupos recentes para não logados -->
      <% grupos = @grupos_recentes %>
      <%= render partial: "home/gruposRecentes", locals: { grupos: grupos } %>
      <!-- Chamada partial eventos em destaques não logado -->
      <%= render partial: "home/eventosDestaque"%>

    </div>
  <%end%>
 </main>

