<div class="jumbotron">
 <div class="container">
    <% if notice == " " %>
     <div class="alert alert-warning fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><p id="notice"><%= notice %></p></strong>
      </div>
    <% end -%>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Detalhes do Grupo <%= @group.nome %></span></h1>
      </div><br>
       <section> 
          <p>
            <strong>Nome:</strong>
            <%= @group.nome %>
          </p>

          <p>
            <strong>Descricao:</strong>
            <%= @group.descricao %>
          </p>

          <p>
            <strong>Esporte:</strong>
            <%= @group.sport.nome %>
          </p>

          <p>
            <strong>Fundador:</strong>
            <%= @group.fundador.nome %>
          </p>

          <p>
            <strong>Estatuto:</strong>
            <%= @group.estatuto %>
          </p>

          <p>
            <strong>Atletas Participantes: </strong>
            <%= @group.athletes.count %> Atleta(s) participante(s)
            <% @group.athletes.each do |athlete|%>
              <br>
              <ul>
                <li> 
                  <%= athlete.person.nome %> -
                  <%= athlete.status %> 
                </li>
              </ul>
            <% end %>
          </p>
          <br>

          <ul>
            <li>Solicitações Pendentes: <%= @solicitacoes.count %></li>
            <li>Convidados: <%= @convidados.count %></li>
            <li>Atletas ativos: <%= @ativos.count %></li>
            <li>Atletas inativos: <%= @inativos.count %></li>
          </ul>

          </br>
          </br>
        <section class=" text-center">
      <%= link_to "Solicitar participação", {:controller => "athletes", :action => "new", :group_id => @group.id }, class:"btn  btn-primary" %>
      <%= link_to 'Voltar', root_path, class:"btn  btn-danger" %>
    </section>

    </section>
  </div>
</div>