<div class="form-new">
<%= form_with(model: [@group,event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group ">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :event_descricao, class: "form-control" %>
  </div>

  <div class="form-group ">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :event_start_time, class: "form-control" %>
  </div>

  <div class="form-group ">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :event_end_time, class: "form-control" %>
  </div>

  <div class="form-group ">
    <%= form.label :local %>
    <%= form.text_field :local, id: :event_local, class: "form-control" %>
  </div>

  <div style="visibility:hidden" class="form-group ">
    <%= form.label :group_id %>
    <%= form.text_field :group_id, id: :event_group_id, class: "form-control hiddden" %>
  </div>

  <div class="actions" >
      <%= form.submit "Salvar",  class:"btn btn-lg btn-primary btn-block" %>
    </div>
<% end %>
</div>
