$("#myModal").modal('hide');
$("#eventsTR").append("<tr id='event_<%= @event.id %>'>"+
    "<td><%= @event.descricao %></td>"+
    "<td><%= @event.start_time %></td>"+
    "<td><%= @event.local %></td>"+
    "</tr>").fadeIn();
// location.reload();