<div class="jumbotron">
 <div class="container">
	 <div class="alert alert-info" style="margin-top:10px; text-align: center;">
       		<h1><span>Editar Evento</span></h1>
      </div>

		<%= render 'form', event: @event %>
		<section class="form-new">
		 <%= link_to 'Detalhes', [@group,@event], class:"btn btn-lg btn-success btn-block" %> 
		 <%= link_to 'Voltar', group_events_path(@group),  class:"btn btn-lg btn-danger btn-block" %>
		</section>
	</div>
</div>
