<div class="jumbotron">
 <div class="container">
   <% if flash[:notice] %>
     <div class="alert alert-info">
       <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
       <%= notice %>
     </div>
   <% end %>

     <div class="alert alert-info" style="margin-top:10px; text-align: center;">
          <h1><span>Eventos</span></h1>
      </div>
       <section class="form-new">
        <%= link_to 'Novo Evento', new_group_event_path, class:"btn btn-lg btn-primary btn-block" %>
       </section>

    <div class="row placeholders">
      <div class="row" >
        <% @events.each do |event| %>
            <div class="col-xs-6 col-sm-3" id="event_<%= event.id %>">
               <div class="card mb-4 box-shadow text-white bg-info">
                <div class="card-header">
                  <h2 class="card-title">Descrição:</h2>
                  <h5 class="my-0 font-weight-normal"><%= event.descricao %></h5>
                </div>
              <div class="card-body">
                 <h2 class="card-title">Custos:</h2>
                <h1 class="card-title pricing-card-title">R$ <small class="text-muted"> 50.00</small></h1>
                <ul class="list-unstyled mt-3 mb-4">

                  <li><label>Local: </label><%= event.local %></li>
                  <li><label> Grupo:</label><%= event.group.nome %></li>
                  <h3 class="card-title">Período de inscrição:</h3>
                  <li><label>Inicio:</label><%= event.start_time %> </li>
                  <li><label>Fim: </label><%= event.end_time %></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Participar</button><br>
                <section>
                
                 <%= link_to 'Detalhes', [@group,event], class:"btn  btn-success"  %>
                 <%= link_to 'Editar', edit_group_event_path(@group,event), class:"btn  btn-primary" %>
                <%= link_to 'Excluir', [@group,event],class:"btn  btn-danger", method: :delete, data: { confirm: 'Confirma esclusão?' }, remote: true %>
                </section>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>