<div class="jumbotron">
	<div class="container">

		<div class="alert alert-info" style="margin-top:10px; text-align: center;">
       		<h1><span>Novo Evento</span></h1>
      </div>

			<%= render 'form', event: @event %>
 		<section class="form-new">
			<%= link_to 'Voltar', group_events_path(@group), class:"btn btn-lg btn-danger btn-block" %>
		</section>
	</div>
</div>

